<div>
  <button mat-button>Click me!</button>
  <mat-list role="list">
    <ng-container *ngFor="let user of users; trackBy:user?.id">
      <mat-list-item role="listitem">FIRSTNAME: {{user.firstName}}</mat-list-item>
      <mat-list-item role="listitem">OBJECT: {{user | json}}</mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon (click)="deleteUser(user)">delete_forever</mat-icon>
        </button>
        <button mat-button>
          <mat-icon (click)="updateUser(user)">update</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
