<form #fileToUploadForm="ngForm">
	<div class="form-group">
		<div class="row">
			<mat-form-field>
				<input
					matInput
					placeholder="Insert file name here..."
					id="displayName"
					name="displayName"
					[(ngModel)]="file.displayName"
					#displayName="ngModel"
				/>
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field>
				<input
					matInput
					placeholder="Insert file description here..."
					id="description"
					name="description"
					[(ngModel)]="file.description"
					#description="ngModel"
				/>
			</mat-form-field>
		</div>
		<div class="row">
			<button mat-button>
				<mat-icon (click)="removeFileToUpload()" (click)="removeFile()"
					>delete_forever</mat-icon
				>
			</button>
		</div>
	</div>
	<div class="form-group">
		<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
	</div>
</form>
