<form (ngSubmit)="onSubmit()" #saveUserForm="ngForm">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Insert firstname here..." id="firstname" name="firstname" [(ngModel)]="user.firstName"
        required minlength="4" #firstname="ngModel">
    </mat-form-field>
    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
      <div *ngIf="firstname?.errors.required">
        First Name is required.
      </div>
      <div *ngIf="firstname?.errors.minlength">
        First Name must be at least 4 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="button" mat-raised-button (click)="cancel()">Users List Page</button>
    <button type="button" mat-raised-button [disabled]="saveUserForm.form.pristine" (click)="reset()">Reset Form</button>
    <button type="submit" mat-raised-button [disabled]="!saveUserForm.form.valid">{{submitButtonText}}</button>
  </div>
  <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
    {{successMessageText}}
  </div>
</form>
