.users-list-item {
  background-color: #fbfbfb;
  text-align: center;
  height: 150px;
}

.users-list-item .avatar {
  width: 100%;
  margin-left: 5px;
}

.users-list-item .firstname {
  position: absolute;
  top: 0;
}

.users-list-item .actions {
  position: absolute;
  bottom: 0;
}
